create database [Hardware]
GO

USE [Hardware]
GO

CREATE TABLE [dbo].[Manufacturers](
	[ManufacturerId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Manufact__A25C5AA650412E4A] PRIMARY KEY CLUSTERED 
(
	[ManufacturerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 09/02/2018 13:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Price] [real] NOT NULL,
	[ManufacturerId] [int] NOT NULL,
 CONSTRAINT [PK__Products__B40CC6CD38AD7183] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Manufacturers] ON 

INSERT [dbo].[Manufacturers] ([ManufacturerId], [Name]) VALUES (1, N'Sony')
INSERT [dbo].[Manufacturers] ([ManufacturerId], [Name]) VALUES (2, N'Creative Labs')
INSERT [dbo].[Manufacturers] ([ManufacturerId], [Name]) VALUES (3, N'Hewlett-Packard')
SET IDENTITY_INSERT [dbo].[Manufacturers] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductId], [Name], [Price], [ManufacturerId]) VALUES (1, N'Hard drive', 240, 5)
INSERT [dbo].[Products] ([ProductId], [Name], [Price], [ManufacturerId]) VALUES (2, N'Memory', 120, 6)
INSERT [dbo].[Products] ([ProductId], [Name], [Price], [ManufacturerId]) VALUES (3, N'SSD drive', 70, 4)
SET IDENTITY_INSERT [dbo].[Products] OFF
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [fk_Manufacturers_Code] FOREIGN KEY([ManufacturerId])
REFERENCES [dbo].[Manufacturers] ([ManufacturerId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [fk_Manufacturers_Code]
GO
